* {
 margin: 0;
 padding: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
  }

  .header {
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    color: #F9FAF8;
    background-color: #821131;
    padding: 20px;
    font-family: 'roboto', 'Times New Roman', Times, serif;
  }

  ul {
    list-style: none;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }

  a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
  }